<div id='search'>
	<% form_tag url_for(:action => 'advanced_result') do %>
	  <p>Enter how much data you want to use to find the best deal</p>
	  <%= label_tag "Usage: " %>
	  <%= text_field_tag "usage" %>
	  <%= select_tag "usage_unit", options_for_select(%w(KB MB GB)) %>
	  <br />
	  <%= label_tag "Country: " %>
	  <%= select_tag("country_id", options_for_select(@countries.map {|c| [c.country, c.id]})) %>
	  <br />
		<p>What equipment do you plan on using?</p>
		<ul>
			<li><input type='radio' value='high' name='equip' group='equip' />High end (More expensive, but better equipment)</li>
			<li><input type='radio' value='low' name='equip' gorup='equip' />Low end (Cheaper, not as good equipment)</li>
		</ul>
	  <br />
	  <%= submit_tag('Search') %>
	<% end %>
</div>