<%= render :partial => 'search_nav' %>
<div id='search'>
	<% form_tag url_for(:action => 'advanced_result'), :method => :get do %>
	  <p>Enter how much data you want to use to find the best deal</p>
	  <%= label_tag "Usage: " %>
	  <%= text_field_tag "usage" %>
	  <%= select_tag "usage_unit", options_for_select(%w(KB MB GB)) %>
		<p><strong>- OR -</strong></p>
		<p>Choose a pre-defined usage level</p>
		<ul>
			<li>
				<%= select_tag('usage_level', options_for_select(@usage_levels.map {|ul| ["#{ul.name} (#{ul.amount} #{ul.unit})", ul.id]}))%>
			</li>
		</ul>
	  <%= label_tag "Country: " %>
	  <%= select_tag("country_id", options_for_select(@countries.map {|c| [c.country, c.id]})) %>
	  <br />
		<%= render :partial => 'equip_select' %>
	  <%= submit_tag('Search') %>
	<% end %>
</div>