<!--[if IE]><%= javascript_include_tag "lib/excanvas" %><![endif]-->
<%= javascript_include_tag "flotr-0.2.0-alpha" %>
<script type="text/javascript">
  document.observe('dom:loaded', function() {
  	( function() {
	  	Flotr.draw(
		    $('placeholder'),
		    [
		      {
		        data: [[0,0]]//sets origin to 0,0
		      },
		      <% counter = 0.5 %>
		      <% @plans.each do |plan, cost| %>
		        {
		          data: [[<%= counter %> , <%= cost %> ]], 
		          label: "<%= plan %>"
		        },
		        <% counter += 1 %>
		      <% end %>
		      {
		        data: [[<%= counter %>, <%= @highcost || 0%>]]
		      }
		    ],
		    {
		      bars: { show: true, barWidth: 0.5 },
		      legend: { position: 'nw' },
		      xaxis: { title: "Plans" },
		      yaxis: { title: "Cost in <%= @lowplan.provider.country.currency %>" }
		    }
		  );
		
			<% position = 22 * (counter - 0.5) %>
			$j('div.flotr-legend table').css('position', 'relative');
			$j('div.flotr-legend table').css('left', 0);
			$j('div.flotr-legend table').css('top', -<%= position %>);
			$j('div.flotr-legend table').css('background-color', '#fff');
			$j('div.flotr-legend table').css('border', '1px solid #000');
			$j('div.flotr-legend-bg').hide();
			$j('p.top').css('margin-bottom',<%= position %>);
			
			$j('div.flotr-grid-label').each(function() {
				if ($j(this).css('text-align') == 'center') {
					$j(this).hide();
				}
			});
		}) ();
  });		
</script>
<%= render :partial => 'search_nav' %>
<p class='top'></p>
<div id='placeholder' style='width:600px;height:300px;margin:0 auto;'>
</div>

<p>
	The most cost effective plan is <%=h @lowplan.name %>, which is offered by <%=h @lowplan.provider.name %>.
	For using <%=h @usage %><%=h @usage_unit%>, <%=h @lowplan.name %> costs only <%= @lowcost %> <%= @lowplan.provider.country.currency %>.
</p>

<% unless @lowest.empty? %>
	<p>Also available for <%= @lowcost %> <%= @lowplan.provider.country.currency %> are the following plan(s).<p>
	<ul>
		<% @lowest.each do |k,v| %>
			<li>
				<%= k %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to "Back to search", url_for(:action => 'index') %>
