<%= render :partial => 'search_nav' %>
<div id='search'>
	<% form_tag url_for(:action => 'countries_result'), :method => :post do %>
	  <p>Enter how much data you want to use to find the best deal</p>
	  <%= label_tag "Usage: " %>
	  <%= text_field_tag "usage" %>
	  <%= select_tag "usage_unit", options_for_select(%w(KB MB GB)) %>
		<p><strong>- OR -</strong></p>
		<p>Choose a pre-defined usage level</p>
		<ul>
			<li>
				<%= select_tag('usage_level', options_for_select(@usage_levels.map {|ul| ["#{ul.name} (#{ul.amount} #{ul.unit})", ul.id]}))%>
			</li>
		</ul>
	  <%= label_tag "What Countries do you want to compare? " %>
		<ul>
			<% @countries.each do |c| %>
				<li>
					<input type='checkbox' id='country<%= c.id %>' group='countries' name='countries[]' value='<%= c.id %>' /><%= c.country%>
				</li>
			<% end %>
		</ul>
		<p>What provider types do you want to compare?</p>
		<ul>
			<li>
				<select id='provider' name='provider'>
					<option value='Mobile'>Mobile (Cell phones, PDAs, etc.)</option>
					<option value='Fixed'>Fixed (Landline, house phone, etc)</option>
				</select>
			</li>
		</ul>
		<p>What plan type do you want to compare?</p>
		<ul>
			<li>
				<select id='plan' name='plan'>
					<option value='Postpaid'>Postpaid - pay after you use it</option>
					<option value='Prepaid'>Prepaid - pay before you use it</option>
				</select>				
			<li>
		</ul>
		<p>What equipment do you plan on using?</p>
		<ul>
			<li>
				<select id='equip' name='equip'>
					<option value='high'>High end (More expensive, but better equipment)</option>
					<option value='low'>Low end (Cheaper, not as good equipment)</option>
				</select>
			</li>
		</ul>
	  <br />
	  <%= submit_tag('Search') %>
	<% end %>
</div>