<script type="text/javascript">
	var chart;
	$().ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'placeholder',
				defaultSeriesType: 'column',
				margin: [50, 50, 300, 80]
			},
			title: {
				text: 'Country Usage Comparison'
			},
			xAxis: {
				categories: [
					<% @plans.each do |p,c| %>
						'<%= p %>',
					<% end %>
				],
				labels: {
					rotation: -45,
					align: 'right',
					style: {
						font: 'normal 13px Verdana, sans-serif'
					}
				}
			},
			yAxis: {
				min: 0,
				title: { text: 'Cost in USD' }
			},
			legend: {
				enabled: false
			},
			tooltip: {
				formatter: function() {
					return "<strong>" + this.x + "</strong><br />Cost: " + Highcharts.numberFormat(this.y, 2);
				}
			},
			series: [{
				name: 'Cost',
				data: [
					<% @plans.each do |plan, value| %>
						<%= value %>,
					<% end %>
				],
				dataLabels: {
					enabled: true,
					rotation: -90,
					color: '#FFFFFF',
					align: 'right',
					x: -3,
					y: 10,
					formatter: function() {
						return this.y;
					},
					style: {
						font: 'normal 13px Verdana, sans-serif'
					}
				}
			}]
		});
	});
</script>
<%= render :partial => 'search_nav' %>
<p class='top'>
	Results below are tested against all plans with the type <strong><%= h @plan_type %></strong> that are offered by <strong><%= h @provider_type %></strong> providers.	
</p>
<div id='placeholder' style='width:775px;height:700px;margin:0 auto;'>
</div>
<p>
  Last update made <%= @last_update.nil? ? 'none' : @last_update.strftime('%Y-%m-%d') %>
</p>
<p>
	<strong><em>NOTICE</em>:</strong> All costs for multi-country comparisons are converted to USD as a basis for comparison.
	Conversions are generated using <a class='service' href='http://www.webservicex.net/ws/WSDetails.aspx?CATID=2&WSID=10'>this web service</a>.
</p>
<p>
	<% unless @lowplan.nil? %>
		The lowest cost plan for <%=h @usage %> <%=h @usage_unit %> is the <%=h @lowplan.name %> plan provided by <%=h @lowplan.provider.name %> in <%=h @lowplan.provider.country.country %>, which costs <%=h @lowcost %> <%=h @lowplan.provider.country.currency %> or $<%= @lowest_usd %> USD.
	<% else %>
		No plans were found to be cost effective, try adjusting your search to find the best deal for your usage level.
	<% end %>
	<% unless @lowest.empty? %>
		<p>Also available for <%= @lowcost %> <%= @lowplan.provider.country.currency %> are the following plan(s).<p>
		<ul>
			<% @lowest.each do |k,v| %>
				<li>
					<%= k %>
				</li>
			<% end %>
		</ul>
	<% end %>
</p>

<%= link_to "Back to search", url_for(:action => 'countries') %>
