<!--[if IE]><%= javascript_include_tag "lib/excanvas" %><![endif]-->
<%= javascript_include_tag "flotr-0.2.0-alpha" %>
<script type="text/javascript">
  document.observe('dom:loaded', function() {
  	( function() {
		  Flotr.draw(
		    $('placeholder'),
		    [
					{data: [[0,0]]},
		      <% counter = 0.5 %>
		      <% @plans.each do |plan, cost| %>
		        {
		          data: [[<%= counter %> , <%= cost %> ]], 
		          label: "<%= plan %>"
		        },
		        <% counter += 1 %>
		      <% end %>
		      {
		        data: [[<%= counter %>, 0]]//find max cost and set 100 to that, to give the graph some depth
		      }
		    ],
		    {
		      bars: { show: true, barWidth: 0.5 },
		      legend: { position: 'nw' },
		      xaxis: { title: "Plans" },
		      yaxis: { title: "Cost in USD" }
		    }
		  );
		
			<% position = 22 * (counter - 0.5) %>
			$j('div.flotr-legend table').css('position', 'relative');
			$j('div.flotr-legend table').css('left', 0);
			$j('div.flotr-legend table').css('top', -<%= position %>);
			$j('div.flotr-legend table').css('background-color', '#fff');
			$j('div.flotr-legend table').css('border', '1px solid #000');
			$j('div.flotr-legend-bg').hide();
			$j('p.top').css('margin-bottom',<%= position %>);
			$j('div.flotr-grid-label').each(function() {
				if ($j(this).css('text-align') == 'center') {
					$j(this).hide();
				}
			});
		}) ();
  });
</script>

<%= render :partial => 'search_nav' %>
<p class='top'>
	Results below are tested against all plans with the type <strong><%= h @plan_type %></strong> that are offered by <strong><%= h @provider_type %></strong> providers.	
</p>
<div id='placeholder' style='width:600px;height:400px;margin:0 auto;'>
</div>
<p>
	<strong><em>NOTICE</em>:</strong> All costs for multi-country comparisons are converted to USD as a basis for comparison.
	Conversions are generated using <a href='http://www.webservicex.net/WCF/ServiceDetails.aspx?SID=18'>this web service</a>.
</p>
<p>
	<% unless @lowplan.nil? %>
		The lowest cost plan for <%=h @usage %> <%=h @usage_unit %> is the <%=h @lowplan.name %> plan provided by <%=h @lowplan.provider.name %> in <%=h @lowplan.provider.country.country %>, which costs <%=h @lowcost %> <%=h @lowplan.provider.country.currency %> or $<%= @lowest_usd %> USD.
	<% else %>
		No plans were found to be cost effective, try adjusting your search to find the best deal for your usage level.
	<% end %>
	<% unless @lowest.empty? %>
		<p>Also available for <%= @lowcost %> <%= @lowplan.provider.country.currency %> are the following plan(s).<p>
		<ul>
			<% @lowest.each do |k,v| %>
				<li>
					<%= k %>
				</li>
			<% end %>
		</ul>
	<% end %>
</p>

<%= link_to "Back to search", url_for(:action => 'countries') %>
