<!--[if IE]><%= javascript_include_tag "lib/excanvas" %><![endif]-->
<%= javascript_include_tag "flotr-0.2.0-alpha" %>
<script type="text/javascript">
  document.observe('dom:loaded', function() {
    //data is structured to be an array of arrays
		(function() {
    	Flotr.draw($('placeholder'), [
	      {
	        data: [[0,0]]//sets x,y origin to 0
	      },
				<% counter = 1 %>
	      <% @graph.each do |plan, values| %>
	        { data: [
	        <% values.each do |usage, cost| %>
	          [<%= usage %>, <%= cost %>],
	        <% end %>
	        ]
	      , label: "<%= plan %>"},    
					<% counter += 1 %>
	      <% end %>
	    ], {
	        lines: { show: true },
	        legend: { position: 'nw'},
	        xaxis: { title: "Usage Amount (in MB)" },
	        yaxis: { title: "Cost in <%=h @country.currency %>" }
	    });
			<% position = 18 * counter %>
			$j('div.flotr-legend table').css('position', 'relative');
			$j('div.flotr-legend table').css('left', 0);
			$j('div.flotr-legend table').css('top', -<%= position %>);
			$j('div.flotr-legend table').css('background-color', '#fff');
			$j('div.flotr-legend table').css('border', '1px solid #000');
			$j('div.flotr-legend-bg').hide();
			$j('p.top').css('margin-bottom',<%= position %>);
		}) ();
  });
	
</script>
<%= render :partial => 'search_nav' %>
<p class='top'></p>
<div id='placeholder' style='width:600px;height:300px;margin:0 auto;'>
</div>
<br />
<%= link_to "Back to Search", url_for(:action => :default)%>