<script type="text/javascript">
	var chart;
	$().ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'placeholder',
				defaultSeriesType: 'line',
			},
			title: {
				text: 'Plan Comparison By Price',
				x: 5
			},
			xAxis: {
				title: { text:'Usage Amount (in MB)' },
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			yAxis: {
				title: { text: 'Cost in <%=h @country.currency  %>'}
			},
			tooltip: {
				formatter: function() {
					return "<strong>" + this.series.name + "</strong><br /> Usage: " + this.x + ", Cost: " + Highcharts.numberFormat(this.y,2);
				}
			},
			legend: {
				layout: 'vertical',
				align: 'left',
				verticalAlign: 'top',
				x: 1,
				y: 1,
				backgroundColor: '#fff',
				borderWidth: 1
			},
			series: [
				<% @graph.each do |plan, values| %>
					{name: '<%= plan %>',
					data: [
						<% values.each do |usage, cost| %>
							[<%= usage %>, <%= cost %>],
						<% end %>
					]},
				<% end %>
			]
		});
	});	
</script>
<%= render :partial => 'search_nav' %>
<p class='top'></p>
<div id='placeholder' style='width:775px;height:500px;margin:0 auto;'>
</div>
<br />
<%= link_to "Back to Search", url_for(:action => :default)%>