<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= javascript_include_tag :defaults %>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>LIRNEasia</title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
  <div id="wrapper">
	<table id="logoswrapper">
		<tr>
			<td><%= image_tag('idrclogotop.png') %></td>
			<td><%= image_tag('lirneasialogotop.png')%></td>
			<td><%= image_tag('dfidlogotop.png')%></td>
		</tr>
	</table>
    <div id="content">
      <div id="navigation">
        <%= link_to "Home", url_for(:controller => 'countries') %> | 
        <%= link_to "Search", url_for(:controller => 'search') %>
				<% if session[:user_id] %>
					| <%= link_to "Usage levels", usage_levels_url %>
				<% end %>
      </div>
      <% unless flash[:notice].blank? %>
         <div id="notification"><%= flash[:notice] %></div><!-- notification -->
      <% end %>
      <%= yield %>
    </div><!-- content -->
  <div><!-- wrapper -->
</body>
</html>