<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
	<script type="text/javascript">
	  jQuery.noConflict();
	  var $j = jQuery;
	</script>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>LIRNEasia</title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
  <div id="wrapper">
	<table id="logoswrapper">
		<tr>
			<td rowspan="2"><%= image_tag('lirneasialogotop.png')%></td>
			<td class="right"><%= image_tag('idrclogotop.png') %></td>
		</tr>
		<tr>
			<td class="right"><%= image_tag('dfidlogotop.png')%></td>
		</tr>
	</table><!-- logoswrapper -->
    <div id="content">
      <div id="navigation">
        <span style="color: #000000;"><%= link_to "Home", url_for(:controller => 'countries') %></span> | 
        <%= link_to "Compare", url_for(:controller => 'search') %>
				<% if session[:user_id] %>
					| <%= link_to "Usage Levels", usage_levels_url %>
				<% end %>
      </div>
      <% unless flash[:notice].blank? %>
         <div id="notification"><%= flash[:notice] %></div><!-- notification -->
      <% end %>
      <% unless flash[:error].blank? %>
         <div id="error"><%= flash[:error] %></div><!-- error -->
      <% end %>
      <%= yield %>
    </div><!-- content -->
  <div><!-- wrapper -->
</body>
</html>